.family {
  display: flex;
  justify-content: left;
  margin: 1rem;
}

.parent {
  border: 5px solid crimson;
  padding: 0.5rem;
}

.children {
  border: 5px solid blue;
  padding: 0.5rem 0 0 1rem;
}

.grandson {
  border: 5px solid green;
  padding: 0.5rem 0 0 1rem;
  margin: 0.2rem;
}

.granddaughter {
  border: 5px solid orange;
  padding: 0.5rem 0 0 1rem;
  margin: 0.2rem;
}